<template>
  <div class="main">
    <div class="date">
      <span class="back_arrow arrow" v-on:click="decrementDate">&#706;</span>
      <span class="today_date">
        <input type="date" id="date" v-model="inputDate"/>
      </span>
      <span class="forward_arrow arrow" v-on:click="incrementDate">&#707;</span>
    </div>
    <div class="content">
      <div class="task-area" v-for="task in tasks" :key="tasks.indexOf(task)">
        <TaskComponent v-bind:task="task"/>
      </div>
    </div>
    <div class="popup" v-if="modalActive">
      <div class="popup_menu">
        <form v-on:submit.prevent="addTask">
          <h2>Let's add a task <span class="close_modal" v-on:click="modalActive = false">X</span></h2>
          <div class="input" :class="{ error: errorSubject }">
            <input
              id="subject"
              type="text"
              placeholder="Subject"
              v-model="newTask.subject"
              v-on:input="changedSubject"
            />
          </div>
          <div class="input" :class="{ error: errorTask }">
            <input
              id="task"
              type="text"
              placeholder="Task"
              v-model="newTask.task"
              v-on:input="changedTask"
            />
          </div>
          <div class="input" :class="{ error: errorDate }">
            <input
              id="form_date"
              type="date"
              v-model="newTask.date"
              v-on:input="changedDate"
            />
          </div>
          <button>Submit</button>
        </form>
      </div>
    </div>
    <div class="popup_btn" v-on:click="modalActive = true">+</div>
  </div>
</template>

<script>
// let dayjs = require('dayjs')
import TaskComponent from '../components/TaskComponent'
export default {
  name: "Tasks",
  components: {TaskComponent},
  data() {
    return {
      newTask: {
        subject: "",
        task: "",
        date: "",
      },
      modalActive: false,
      errorSubject: false,
      errorTask: false,
      errorDate: false,
      nowDate: this.$store.getters.DATE
    };
  },
  mounted() {
    this.$store.dispatch('GET_TASKS')
  },
  methods: {
    addTask: function () {
      if (!this.errorDate && !this.errorTask && !this.errorSubject) {
        this.$store.dispatch('CREATE_TASK', {date: this.newTask.date, task: this.newTask.task, subject: this.newTask.subject})
      }
    },
    changedSubject: function () {
      this.errorSubject = !this.newTask.subject;
    },
    changedTask: function () {
      this.errorTask = !this.newTask.task;
    },
    changedDate: function () {
      this.errorDate = !this.newTask.date;
    },
    decrementDate: function () {
      this.$store.commit('DECREMENT_DATE')
      this.$store.dispatch('GET_TASKS')
    },
    incrementDate: function () {
      this.$store.commit('INCREMENT_DATE')
      this.$store.dispatch('GET_TASKS')
    }
  },
  computed: {
    isReg() {
      return this.$store.getters.IS_REG
    },
    tasks() {
      return this.$store.getters.TASKS
    },
    inputDate: {
      get() {
        return this.$store.getters.DATE
      },
      set(value) {
        this.$store.commit('SET_DATE', value)
        this.$store.dispatch('GET_TASKS')
      }
    }
  },
};
</script>

<style scoped>
.popup_menu {
  width: min(80%, 400px);
}

form {
  width: 100%;
}
</style>

<style scoped lang="less">
@media screen and (max-width: 991px) {
  .task-card {
    margin: 0.8em 0;
  }
}

@media screen and (min-device-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
}

.date {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

#date {
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
}

.arrow {
  font-size: 2em;
  margin: 0 .5em;
  cursor: pointer;
}

.content {
  margin: 1.2em 0.6em;
}



.popup_btn {
  position: fixed;
  display: flex;
  background-color: rgb(127, 241, 127);
  width: 1.2em;
  height: 1.2em;
  font-size: 2em;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  right: 0.6em;
  bottom: 0.6em;
  cursor: pointer;
}

.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);

  .close_modal {
    float: right;

  }

  .popup_menu {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1em 0.8em;
    border-radius: 1em;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.06);

    input {
      background: none;
      font-size: 1.2rem;
      width: 100%;
      border: none;
      outline: none;
    }

    .input {
      padding: 0.4rem 0.8rem;
      border-radius: 0.6rem;
      border: 1px solid #b4b4b4;
      margin: 1rem 0;
    }

    .error {
      border-color: red;
    }

    button {
      font-size: 1.4rem;
      display: block;
      width: 100%;
      padding: 0.36rem 0;
      background: none;
      border: 1px solid black;
      border-radius: 0.6rem;
      transition: 0.5s ease-in-out;

      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
}
</style>
